{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Pagina Web</title>
    
    <link rel="stylesheet" href="{% static 'pag_web/css/style.css'%}" type="text/css">
    <script src="{% static 'pag_web/js/script.js'%}"></script>
    
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    
<div class="container">
    <form action="" method="post" class="register-form">
        {% csrf_token %}
        <h2>Registro</h2>
        <input type="text" id="name" placeholder="Tu nombre" required>
        <input type="text" id="university" placeholder="Nombre de la universidad" required>
        <button type="button" onclick="register()">Registrarse</button>
    </form>
</div>

</body>

</html>
