.contenedor {
    display: flex; /* Usamos flexbox para alinear los hijos horizontalmente */
  }
  
  #map {
    height: 600px;
    width: 800px;
    /* Eliminamos el ancho fijo para que tome el tamaño proporcional del contenedor */
    flex: 1; /* Esto hará que tome el espacio disponible */
  }
  
  .informacion {
    flex: 1; /* Esto también tomará el espacio disponible restante */
    padding: 20px; /* Añadimos algo de padding para el texto */
    overflow-y: auto; /* Añadimos scroll si el contenido es muy largo */
    box-sizing: border-box; /* Aseguramos que el padding no afecte el ancho total */
   
  }
  
  /* Opcionalmente, puedes eliminar los estilos en línea en el HTML y moverlos al archivo CSS */
  