
body{
    
    background-image:url("/pag_web/static/pag_web/imagenes/agua2.avif");
   /* Ajustar el tamaño de la imagen de fondo */
   background-size: cover;
    
   /* Centrar la imagen de fondo */
   background-position: center;
   
   /* Evitar que la imagen de fondo se repita */
   background-repeat: no-repeat;
   
   /* Altura y anchura del contenedor (puedes ajustar según tus necesidades) */
   height: 100vh;
   width: 100vw;
}
.title{
    border-color: aquamarine;
    border: 5px groove #0aa5e2;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(47, 0, 255);
    border-radius: 5px;
    background-color: aliceblue;
    
    text-decoration: dotted;
    text-align: center;
    font-size:xx-large
    
}

.left{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255);
    
    border:groove #e20a0a;
    border-radius: 10px;
    
    
}

.right{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    border:groove #e20a0a;
    border-radius: 10px;
    
}


.btn{
    background-color: rgb(223, 163, 163);
    border-radius: 5px;
    position: fixed;
    bottom: 10px;
    right: 10px;

}
.btn:hover{
    background-color: #2c2fa5; /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}
h1{
    color: #aa3030;
    font-style:italic;
    font-size: medium;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre botones */
}

.custom-button {
    width: 100%; /* Hace que los botones ocupen todo el ancho del contenedor */
    padding: 10px; /* Espacio interno para los botones */
    text-align: center; /* Centra el texto de los botones */
    border: none; /* Elimina el borde por defecto de los botones */
    cursor: pointer; /* Cambia el cursor a mano al pasar por encima */
    background-color: #007BFF; /* Color de fondo azul */
    color: white; /* Color de texto blanco */
    border-radius: 5px; /* Bordes redondeados */
}

.custom-button:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el cursor por encima */
}
