{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'pag_web/css/style2.css'%}" type="text/css">
    <!-- JavaScript Bundle with Popper -->
    <script src="{% static 'pag_web/js/indexscript.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
          
          <div class="title mt-3 col-12 col-lg-12 "><p> Estrategias para la conservación y uso              sostenible     de  los océanos </p> 
            
          </div>

          <div class="left col-md-3 mt-2 m-lg-2">

            <div class="button-container" id="toggleButton">
                <button class="custom-button mt-2" data-target="info1" >Gestión Integrada de Zonas Costeras</button>
                <button class="custom-button" data-target="info2" >Áreas Marinas Protegidas</button>
                <button class="custom-button" data-target="info3">Pesca Sostenible</button>
                <button class="custom-button" data-target="info4" >Reducción de la contaminación marina</button>
            </div>
        </div>
          
          <div class="right col-lg-8 mt-2 ">
          
            <div id="info1" style="display: none;">
              <h1>Gestión Integrada de Zonas Costeras (GIZC)</h1>
    <section>
        <h2>Estrategia Andaluza de Gesti&oacute;n Integrada de Zonas Costeras</h2>
        <p>Las zonas costeras se caracterizan por el alto valor de sus recursos naturales, culturales y paisajísticos. Sin embargo, también destacan por la fragilidad de sus ecosistemas debido a las presiones a las que están sometidos (expansión urbanística, concentración de población y turismo, aumento de la demanda de agua, contaminación por actividades agrícolas o industriales, sobreexplotación de recursos naturales, etc.) y los riesgos derivados del cambio climático y global. Estos impactos justifican la necesidad de adoptar un <strong>modelo de gestión integral y compatible</strong> con el mantenimiento de sus ecosistemas y el desarrollo ambiental y económico de la zona.</p>
        <p>Con este fin y en el marco del Convenio para la protección del Mar Mediterráneo frente a la contaminación (Convenio de Barcelona) se firma en 2008 el <strong>Protocolo de Gestión Integrada de las Zonas Costeras (GIZC)</strong>, que en España entra en vigor en 2011, impulsado por el Plan de Acción del Mediterráneo de las Naciones Unidas (PAM).</p>
        <a href="https://www.juntadeandalucia.es/medioambiente/portal/landing-page-planificacion/-/asset_publisher/Jw7AHImcvbx0/content/estrategia-andaluza-de-gesti-c3-b3n-integrada-de-zonas-costeras/20151" target="_blank">Fuente</a>
    </section>
    <section>
        <h2>Iniciativa andaluza (España) para la gestión integrada de zonas costeras (GIZC)</h2>
        <p>La construcción colectiva de un nuevo modelo de gestión para el litoral andaluz (España) es muy necesaria. Teniendo como punto de partida la Proposición no de Ley del Parlamento de Andalucía, instando al Consejo de Gobierno a promover un proyecto de gestión integrada de zonas costeras (2005), este artículo presenta de manera sintética los trabajos realizados para el establecimiento e implantación de la Estrategia Andaluza de Gestión Integrada de Zonas Costeras (EA-GIZC): base conceptual, modelo metodológico, criterios, programas y actuaciones.</p>
        <a href="http://www.scielo.cl/scielo.php?script=sci_arttext&pid=S0718-34022008000300001" target="_blank">Fuente</a>
    </section>
            </div>

            <div id="info2" style="display: none;">
              <h1>Áreas Marinas Protegidas (AMP)</h1>
              <section>
                  <h2>La importancia de las Áreas Marinas Protegidas (AMP)</h2>
                  <p>Un área marina protegida (AMP) es una parte del océano en la que algún gobierno ha impuesto límites a la actividad humana. Las AMP han sido establecidas porque el océano y los seres que viven en él se enfrentan a muchos peligros, como la sobrepesca, la contaminación del agua y el cambio climático global. Estas amenazas han provocado un declive considerable en la población de peces, mamíferos marinos y otras criaturas. Las AMP también se conocen como parques marinos, zonas de conservación marina, reservas marinas, santuarios marinos o zonas de veda. Se han creado más de 5,000 AMP en todo el mundo, cubriendo apenas un 0.8 por ciento del océano.</p>
                  <a href="https://education.nationalgeographic.org/resource/importancia-areas-marinas-protegidas/" target="_blank">Fuente</a>
              </section>
              <section>
                  <h2>Tipos y Objetivos de las AMP</h2>
                  <p>En nuestro país existen cuatro tipos de AMP: los parques marinos, las reservas marinas, los santuarios de la naturaleza y las áreas marinas y costeras protegidas de múltiples usos. Estas áreas son declaradas para la conservación y gestión sustentable de la biodiversidad marina. Los parques marinos son áreas marinas específicas destinadas a preservar unidades ecológicas de interés. En ellos no puede efectuarse ningún tipo de actividad, salvo aquellas que se autoricen con propósitos de observación, investigación o estudio. Las reservas marinas protegen zonas de reproducción, caladeros de pesca y áreas de repoblamiento por manejo.</p>
                  <a href="https://www.subpesca.cl/portal/616/w3-propertyvalue-50832.html" target="_blank">Fuente</a>
              </section> 
            </div>

            <div id="info3" style="display: none;">
              <h1>Pesca Sostenible</h1>
    <section>
        <h2>¿Qué es la Pesca Sostenible?</h2>
        <p>La pesca sostenible implica dejar suficientes peces en el mar, evitando la sobrepesca, para que su población se pueda reproducir de forma adecuada, renovándose de manera continua, manteniéndose saludable y productiva. Es esencial que se respete la estructura, productividad, función y diversidad de los ecosistemas marinos y los hábitats, minimizando los impactos sobre otras especies, especialmente aquellas que están protegidas, amenazadas o en peligro. Además, es crucial tener una buena gestión que permita que la pesquería se adapte a cambios en el medio marino y cumpla con las leyes locales, nacionales e internacionales.</p>
        <p>La sostenibilidad de una pesquería es un proceso continuo. Después de ser certificadas, las pesquerías se reevalúan regularmente y muchas requieren llevar a cabo nuevas mejoras. La información científica también se actualiza continuamente, y se anima a las pesquerías a desarrollar nuevas maneras de conservar los recursos marinos para las generaciones futuras.</p>
        <a href="https://www.msc.org/es/que-hacemos/nuestro-enfoque/que-es-la-pesca-sostenible" target="_blank">Fuente: Marine Stewardship Council</a>
    </section>
    <section>
        <h2>Ventajas de la Pesca Sostenible</h2>
        <ul>
            <li><strong>Protege la fauna marina:</strong> Respeta los ecosistemas marinos y se adecúa al ritmo reproductivo de los peces.</li>
            <li><strong>Utiliza métodos selectivos:</strong> Rechaza la captura indiscriminada de alevines y especies amenazadas.</li>
            <li><strong>Evita el despilfarro:</strong> Aprovecha los ejemplares muertos para elaborar harinas y minimizar el desperdicio.</li>
            <li><strong>Contribuye a la seguridad alimentaria:</strong> La pesca sostenible a pequeña escala supone el 66% de todas las capturas destinadas al consumo humano.</li>
            <li><strong>Genera empleos y es más responsable:</strong> Emplea al 90% de la industria pesquera global y apoya el desarrollo de comunidades de pescadores.</li>
            <li><strong>Reduce la contaminación:</strong> Genera menos residuos y minimiza el consumo de energía.</li>
            <li><strong>Certifica la sostenibilidad:</strong> Sellos internacionales como el Estándar de MSC determinan si una pesquería es sostenible.</li>
        </ul>
        <a href="https://www.iberdrola.com/compromiso-social/pesca-sostenible" target="_blank">Fuente: Iberdrola</a>
    </section>
 
            </div>

            <div id="info4" style="display: none;">
              <h1>Reducción de la contaminación marina</h1>
    <h2>12 ideas para combatir la contaminación marina en el Caribe</h2>
    <p>Las imágenes de islas de desechos flotantes, una gigantesca acumulación de plásticos más grande que países enteros, se están volviendo dolorosamente familiares estos días. Nuestros mares y océanos se están convirtiendo en depósitos de millones de toneladas de contaminantes, con los subsiguientes y graves efectos ambientales, sanitarios, sociales y económicos, lo que representa una seria amenaza a la forma de vida y el desarrollo sostenible de muchas regiones del mundo.</p>
    <p>Un claro ejemplo de esto es el Caribe, donde sus habitantes dependen de la “economía azul”, que incluye el turismo y la pesca.</p>
    <p>Un nuevo informe del Banco Mundial “La contaminación marina en el Caribe: ni un minuto que perder”, revela que alrededor del 80 % de los contaminantes provienen de la tierra, mientras que más de 320.000 toneladas de desechos plásticos permanecen sin recolectar cada año en las aguas azules y arenas blancas de las playas caribeñas. La degradación de los arrecifes de coral y la contaminación marina en la cuenca representan una pérdida anual de entre 350 millones y 870 millones de dólares.</p>
    <p>¡Esto tiene que parar!</p>
    <ul>
        <li><strong>Prohibir el uso de plásticos desechables y adoptar políticas de control de la basura</strong></li>
        <li><strong>Reducir o reciclar el plástico</strong></li>
        <li><strong>Reducir el vertido de aguas cloacales sin tratamiento</strong></li>
        <li><strong>Controlar la contaminación química e industrial</strong></li>
        <li><strong>Mejorar el financiamiento para la prevención y el control de la contaminación marina</strong></li>
        <li><strong>Fortalecer las leyes sobre residuos marinos</strong></li>
        <li><strong>Integrar las políticas de prevención y control a la política nacional</strong></li>
        <li><strong>Desarrollo de capacidades técnicas y conocimientos a nivel local</strong></li>
        <li><strong>Crear conciencia entre el público</strong></li>
        <li><strong>Establecer alianzas para enfrentar la contaminación marina</strong></li>
        <li><strong>Controlar la contaminación marina de manera sistemática</strong></li>
        <li><strong>Evaluar el impacto económico</strong></li>
    </ul>
    <p><a href="https://www.bancomundial.org/es/news/feature/2019/06/10/12-ideas-para-combatir-la-contaminacion-marina-en-el-caribe" target="_blank">Fuente: Banco Mundial</a></p>
            </div>

            <div id="info5" style="display: none;">
              <h1>Educación y conciencia pública:</h1> 
              La educación es esencial para informar al público sobre la importancia de los océanos y cómo pueden contribuir a su conservación.
  
              <h1>Cooperación internacional:</h1>
              Los océanos no conocen fronteras, por lo que la cooperación entre países es esencial para abordar problemas como la pesca ilegal, la contaminación y el cambio climático. 
            </div>



          </div>
          <button type="button" class="btn col-2" id="boton" ><h2>siguiente</h2></button>
        </div>
      </div>
  </body>
</html>