<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="overview"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quo autem, fugit quis eum nisi veritatis hic illum est quae vitae itaque doloremque, aut corrupti. Voluptatum error consequuntur minima quas.</p></div>
    <button type="button" class="btn">siguiente</button>
    
</body>
</html>